# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs / conda
.venv/
venv/
env/
.conda/
.condarc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log

# Test / build artifacts
.pytest_cache/
.coverage
dist/
build/
*.egg-info/
notes.db
notes_old.db
notes.db
test.db

# env files
.env
